body {
    overflow: hidden;
}

* {
    margin: 0;
    /* box-sizing: border-box; */
}

.board {
    display: inline-flex;
    position: absolute;
    bottom: 202px;
    left: 500px;
    z-index: 100;
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-delay: 1.8s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body {
    background: lightyellow;
}

.slot {
    height: 40px;
    width: 50px;
    overflow: hidden;
}

.hole {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 25px solid dodgerblue;
    transform: translate(-15px, -15px);
}
