body {
    overflow: hidden;
}

* {
    margin: 0;
    /* box-sizing: border-box; */
}

.board {
    display: inline-flex;
    position: absolute;
    bottom: 202px;
    left: 500px;
    z-index: 100;
}

.board-base {
    height: 10px;
    width: 370px;
    background-color: dodgerblue;
    position: absolute;
    left: -10px;
    top: 240px;
    pointer-events: none;
    transition: 1s;
}

.open {
    transition: 1s;
    left: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.r {
    background-color: hotpink;
}

.y {
    background-color: goldenrod;
}



body {
    background: lightyellow;
}

.slot {
    height: 40px;
    width: 50px;
    overflow: hidden;
}

.hole {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 25px solid dodgerblue;
    transform: translate(-15px, -15px);
}
