body {
    overflow: hidden;
}

* {
    margin: 0;
    /* box-sizing: border-box; */
}

.board {
    display: inline-flex;
    position: absolute;
    top: 106px;
    right: 435px;
    z-index: 100;
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-delay: 1.8s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body {
    background: lightyellow;
}

.welcome {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightyellow;
    color: dodgerblue;
    font-size: 40px;
}

.slot {
    height: 90px;
    width:100px;
    overflow: hidden;
}

.hole {
    height: 80px;
    width:80px;
    border-radius: 50%;
    border: 40px solid dodgerblue;
    transform: translate(-30px, -30px);
}
